# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store

# Env files (keep only the example)
.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

printf "\n# Next.js build output\n.next/\n# mirror repo created for filter-repo (do not commit)\n/chapter11-supabase.git/\n" >> .gitignore